<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0.0.0"/>
    <add key="TestSave" value=""/>
    <add key="TestRemove" value="12333"/>
    <add key="ModuleVersion" value="1.0.0.9"/>
  </appSettings>
  <connectionStrings>
    <add name="TestConnection" connectionString="TestConnectionString" providerName="TestProviderName"/>
  </connectionStrings>
</configuration>