<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <!-- 指定公共语言运行时是否允许托管代码捕获访问冲突和其他损坏状态异常 -->
    <!-- https://docs.microsoft.com/zh-cn/dotnet/framework/configure-apps/file-schema/runtime/legacycorruptedstateexceptionspolicy-element?view=netframework-4.8 -->
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
  <appSettings>
    <add key="ModuleVersion" value="1.0.0.0"/>
    <add key="ProductName" value="Prism Demo on WPF"/>
    <add key="ShellWidth" value="1280"/>
    <add key="ShellHeight" value="960"/>
    <add key="ModuleNames" value="Prism.Ex.App.Modules.Main.dll"/>
  </appSettings>
</configuration>